<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>CVE api</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet prefetch">
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <div class="flex-center position-ref full-height">
      <div class="top-right links">
      </div>
      <div class="content">
        <div class="title m-b-md">
            CVE API
        </div>
        <div class="m-b-md">
            <pre>http://<%= bind %>:<%= port %>/cve?target=KEYWORD</pre>
            <pre>http://<%= bind %>:<%= port %>/cve?target=KEYWORD&year=YEAR</pre>
            <pre>curl http://<%= bind %>:<%= port %>/raw?target=KEYWORD&year=latest</pre>
        </div>
      </div>
    </div>
  </body>
</html>
